 <div style="width: 800px; background: rgb(0, 100, 0); height: 800px; display: block; margin: 15% auto">  
    <h4 style="text-align: center; display: block; padding: 85px 0">ТАКОГО ПОЛЬЗОВАТЕЛЯ НЕ СУЩЕСТВУЕТ</h4>
    <a href="../" style="font-size: 20px; text-decoration: none; color:pink;">Вернуться к проверке</a>
  </div>
  